body{
    margin: 0;
    
}

div#page {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "section aside"
    "footer footer"
    ;
    grid-template-columns: auto 200px;
    grid-template-rows: 100px 40px auto 100px; 
}

header{
    background-color: burlywood;
    grid-area: header;
    display: grid;
    grid-template-columns: 100px auto;
}

header img{
    height: 100%;
}

header h1{
    text-align: center;
}

nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav a{
    background-color: cadetblue;
    border: 1px solid indianred;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ccc;
}

nav a.active{
    background-color: indigo;
}

nav a:hover{
    background-color: indigo;
}

aside{
    background-color: pink;
    grid-area: aside;
}

section#main{
    background-color: grey;
    grid-area: section;
    display: grid;
    grid-template-areas: 
    "img title"
    "description description"
    ;
    padding: 10px;
}

section#main img{
    grid-area: img;
}

section#main h2{
    grid-area: title;
}

section#main p{
    grid-area: description;
    text-align: justify;
}

section#photos{
    background-color: grey;
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

section#photos img{
    width: 100%;
}

section#video{
    background-color: grey;
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

section#contacts{
    background-color: grey;
    grid-area: section;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
    padding: 10px;
}

footer{
    background-color: indigo;
    grid-area: footer;
}

footer nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer nav a{
    background-color: transparent;
    border: none;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ccc;
}

footer nav a:hover{
    background-color: indigo;
}